/* Adjust this to change the size of the whole pen */
html {
    font-size: 2vw;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #C9C9C9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
    background: -webkit-linear-gradient(top, #ffffff 0%, #C9C9C9 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #C9C9C9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #C9C9C9 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #C9C9C9 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  body .system-container#gbasp {
    width: 40.0rem;
    height: 73.0rem;
    margin: 2.0rem auto;
    z-index: 0;
  }
  
  body .system-container#gbasp .screen-body {
    background-color: #2222ff;
    background: linear-gradient(10deg, #3c3cff, #2222ff, #0000d4);
    width: 40.0rem;
    height: 34.0rem;
    border-radius: 2.4rem;
    position: relative;
    padding: 2.0rem;
    box-sizing: border-box;
    border: 0.3rem solid #0000d4;
    border-right-color: #8888ff;
    border-top-color: #5555ff;
  }
  
  body .system-container#gbasp .screen-body:before {
    content: '';
    width: 18.0rem;
    height: .8rem;
    background-color: #2222ff;
    position: absolute;
    bottom: -.8rem;
    z-index: -1;
    left: 2.0rem;
    border-right: 0.2rem solid #8888ff;
    -webkit-box-shadow: inset 0rem 0.6rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0rem 0.6rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
    box-shadow: inset 0rem 0.6rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
  }
  
  body .system-container#gbasp .screen-body:after {
    content: '';
    width: 3.2rem;
    height: .8rem;
    background-color: #2222ff;
    position: absolute;
    bottom: -.8rem;
    z-index: -1;
    left: 32.0rem;
    border-right: 0.2rem solid #8888ff;
    -webkit-box-shadow: inset 0rem 0.6rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0rem 0.6rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
    box-shadow: inset 0rem 0.6rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
  }
  
  body .system-container#gbasp .screen-border {
    background-color: #333;
    width: 100%;
    margin: 1.6rem auto;
    height: 26.8rem;
    box-sizing: border-box;
    border: 0.4rem solid #bbbbff;
    border-radius: .8rem;
    border-top-color: #0000a2;
    border-right-color: #0000d4;
    border-bottom-color: #8888ff;
  }
  
  body .system-container#gbasp .screen-border img {
    position: absolute;
    left: 11.2rem;
    bottom: 4rem;
    opacity: .7;
    width: 17.5rem;
  }
  
  body .system-container#gbasp .screen {
    background-color: #777788;
    margin: 2.0rem auto;
    width: 90%;
    height: 21.0rem;
  }
  
  body .system-container#gbasp .screen iframe {
    width: 100%;
    height: 21.0rem;
  }
  
  body .system-container#gbasp .screen-bumper {
    border-radius: 100%;
    width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    background: radial-gradient(circle at top left, #5555ff, #0000bb);
    border: 0.2rem solid #0000bb;
  }
  
  body .system-container#gbasp #bumper-ul {
    left: 1.0rem;
    top: .6rem;
  }
  
  body .system-container#gbasp #bumper-ur {
    right: 1.0rem;
    top: .6rem;
  }
  
  body .system-container#gbasp #bumper-ll {
    left: 1.2rem;
    bottom: .4rem;
  }
  
  body .system-container#gbasp #bumper-lr {
    right: 1.2rem;
    bottom: .4rem;
  }
  
  body .system-container#gbasp #bumper-tm {
    left: calc(50% - 1.0rem);
    top: .8rem;
  }
  
  body .system-container#gbasp .small-bumper {
    width: 1.6rem;
    height: 1.6rem;
    background: radial-gradient(circle at bottom left, #2222ff, #0000bb);
    border-width: .1rem;
    border-left-color: #3c3cff;
    border-bottom-color: #3c3cff;
  }
  
  body .system-container#gbasp .swivel {
    width: 100%;
    border-radius: 1.6rem;
    height: 4.8rem;
    background-color: #2222ff;
    position: relative;
    top: .4rem;
    -webkit-box-shadow: inset 0rem -2rem 0.8rem 0rem rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0rem -2rem 0.8rem 0rem rgba(0, 0, 0, 0.4);
    box-shadow: inset 0rem -2rem 0.8rem 0rem rgba(0, 0, 0, 0.4);
    border-top: 0.2rem solid #3c3cff;
  }
  
  body .system-container#gbasp .swivel:before {
    content: '';
    width: 18.0rem;
    height: 4.5rem;
    position: absolute;
    bottom: -2.0rem;
    z-index: 1;
    left: 2.2rem;
    top: .0rem;
    border-right: 0.2rem solid #8888ff;
    border-left: 0.2rem solid #0000a2;
    border-bottom: 0.3rem solid #000022;
    -webkit-box-shadow: inset 0rem 1rem 0.5rem 0rem rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0rem 1rem 0.5rem 0rem rgba(255, 255, 255, 0.2);
    box-shadow: inset 0rem 1rem 0.5rem 0rem rgba(255, 255, 255, 0.2);
  }
  
  body .system-container#gbasp .swivel:after {
    content: '';
    width: 3.2rem;
    height: 4.5rem;
    position: absolute;
    bottom: -2.0rem;
    z-index: 1;
    left: 32.2rem;
    top: .0rem;
    border-right: 0.2rem solid #8888ff;
    border-left: 0.2rem solid #0000bb;
    border-bottom: 0.3rem solid #000022;
    -webkit-box-shadow: inset 0rem 1rem 0.5rem 0rem rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0rem 1rem 0.5rem 0rem rgba(255, 255, 255, 0.2);
    box-shadow: inset 0rem 1rem 0.5rem 0rem rgba(255, 255, 255, 0.2);
  }
  
  body .system-container#gbasp .gamepad-body {
    background-color: #2222ff;
    background: linear-gradient(10deg, #3c3cff, #2222ff, #0000d4);
    width: 40.0rem;
    height: 36.0rem;
    border-radius: 2.4rem;
    position: relative;
    padding: 2.0rem;
    box-sizing: border-box;
    border: 0.3rem solid #0000d4;
    border-right-color: #8888ff;
    border-top-color: #5555ff;
    z-index: -1;
    top: -2.8rem;
  }
  
  body .system-container#gbasp .pad-container {
    width: 11.0rem;
    height: 11.0rem;
    border: none;
    border-radius: 100%;
    position: absolute;
    left: 2.0rem;
    top: 10.0rem;
  }
  
  body .system-container#gbasp .pad-container:before {
    content: '';
    z-index: 0;
    top: .4rem;
    left: .4rem;
    height: inherit;
    width: inherit;
    background: #2222ff;
    position: absolute;
    border-radius: inherit;
  }
  
  body .system-container#gbasp .pad-container:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -.4rem;
    left: -.4rem;
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #5555ff, #000088);
    border-radius: inherit;
  }
  
  body .system-container#gbasp .dpad-container {
    border: none;
    background: #2222ff;
    z-index: 99;
  }
  
  body .system-container#gbasp .dpad-container:before {
    width: 11.8rem;
    height: 11.8rem;
    border-radius: 100%;
    background: linear-gradient(to right, #5555ff, #000088);
    content: '';
    position: absolute;
    top: -.4rem;
    left: -.4rem;
    z-index: -1;
  }
  
  body .system-container#gbasp .dpad-container:after {
    width: 10.2rem;
    height: 10.2rem;
    border-radius: 100%;
    background: #2222ff;
    content: '';
    position: absolute;
    top: .4rem;
    left: .4rem;
    z-index: -1;
  }
  
  body .system-container#gbasp .d-pad {
    width: 2.8rem;
    height: 8.4rem;
    background-color: #333;
    position: relative;
    margin: 1.2rem auto;
    box-sizing: border-box;
    border: 0.2rem solid black;
    border-top: 0.2rem solid #666666;
    border-right: 0.2rem solid #666666;
  }
  
  body .system-container#gbasp .d-pad:before {
    width: 3.1rem;
    height: 2.8rem;
    position: absolute;
    content: '';
    background-color: #333;
    left: -3.1rem;
    top: 2.6rem;
    border-bottom: 0.2rem solid black;
    border-left: 0.2rem solid black;
    border-top: 0.2rem solid #666666;
    box-sizing: border-box;
  }
  
  body .system-container#gbasp .d-pad:after {
    width: 3.1rem;
    height: 2.8rem;
    position: absolute;
    content: '';
    background-color: #333;
    left: 2.3rem;
    top: 2.6rem;
    border-top: 0.2rem solid #666666;
    border-right: 0.2rem solid #666666;
    border-bottom: 0.2rem solid black;
    box-sizing: border-box;
  }
  
  body .system-container#gbasp .buttons-container {
    width: 12.4rem;
    height: 5.1rem;
    border: 0.8rem solid #0000bb;
    border: none !important;
    background: yellow;
    border-radius: 11.0rem;
    position: relative;
    left: 20.8rem;
    top: 10.4rem;
    border-top-color: #000088;
    border-left-color: #5555ff;
    border-bottom-color: #3c3cff;
    transform: rotate(-12deg);
    z-index: 1;
  }
  
  body .system-container#gbasp .buttons-container:before {
    width: inherit;
    height: inherit;
    background: #2222ff;
    top: 0rem;
    left: 0rem;
    position: absolute;
    content: '';
    border-radius: 11rem;
    z-index: 0;
  }
  
  body .system-container#gbasp .buttons-container:after {
    content: '';
    position: absolute;
    left: -.8rem;
    top: -.8rem;
    border-radius: 11.0rem;
    width: 14rem;
    height: 6.7rem;
    background: linear-gradient(to right, #5555ff, #000088);
    z-index: -1;
  }
  
  body .system-container#gbasp .buttons-container .letter {
    display: block;
    position: absolute;
    z-index: 200;
    top: .05em;
    left: calc(50% - .3em);
  }
  
  body .system-container#gbasp .b-button, body .system-container#gbasp .a-button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 4.0rem;
    font-size: 2.2rem;
    color: #404040;
    transform: rotate(12deg);
    text-align: center;
    width: 4.0rem;
    height: 4.0rem;
    background-color: #333;
    border-radius: 100%;
    position: absolute;
    left: .8rem;
    top: .5rem;
    box-sizing: border-box;
    border: none;
  }
  
  body .system-container#gbasp .b-button:before, body .system-container#gbasp .a-button:before {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    content: '';
    position: absolute;
    background: yellow;
    left: -0rem;
    top: -0rem;
    background: linear-gradient(to right, #4d4d4d, #262626);
    z-index: -1;
  }
  
  body .system-container#gbasp .b-button:after, body .system-container#gbasp .a-button:after {
    width: 3.6rem;
    height: 3.6rem;
    background: #333;
    content: '';
    position: absolute;
    left: .2rem;
    top: .2rem;
    border-radius: inherit;
    z-index: 0;
  }
  
  body .system-container#gbasp .a-button {
    left: 7.6rem;
  }
  
  body .system-container#gbasp .power-container {
    width: 2.0rem;
    height: 2.0rem;
    position: absolute;
    left: 18.0rem;
    top: 5.2rem;
    border-width: .5rem;
  }
  
  body .system-container#gbasp .power-container:after {
    width: 3.8rem;
    height: 3.8rem;
  }
  
  body .system-container#gbasp .power-container:before {
    left: 0.5rem;
    top: 0.5rem;
  }
  
  body .system-container#gbasp .power-button {
    width: 2.1rem;
    height: 2.1rem;
    position: absolute;
    left: calc(50% - 0.5rem);
    top: calc(50% - 0.5rem);
    color: #fff;
  }
  
  body .system-container#gbasp .power-button:after {
    width: 1.6rem;
    height: 1.6rem;
    left: .2rem;
    top: .2rem;
  }
  
  body .system-container#gbasp .speaker-holder {
    width: 8.0rem;
    height: 8.0rem;
    position: absolute;
    top: 20.0rem;
    left: 15.0rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  
  body .system-container#gbasp .dot {
    width: .3rem;
    height: .3rem;
    background-color: #000;
    margin: .8rem;
    border-radius: 100%;
  }
  
  body .system-container#gbasp .large-dot {
    width: .5rem;
    height: .5rem;
    border-radius: .5rem;
  }
  
  body .system-container#gbasp .select-container, body .system-container#gbasp .start-container {
    width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    left: 14.6rem;
    top: 30.0rem;
  }
  
  body .system-container#gbasp .select-container:after, body .system-container#gbasp .start-container:after {
    width: 3.8rem;
    height: 3.8rem;
  }
  
  body .system-container#gbasp .start-container {
    left: 19.8rem;
  }
  
  body .system-container#gbasp .select-button, body .system-container#gbasp .start-button {
    position: absolute;
    height: 1.8rem;
    width: 1.8rem;
    left: calc(50% - 0.45rem);
    top: calc(50% - 0.45rem);
  }
  
  body .system-container#gbasp .select-button:after, body .system-container#gbasp .start-button:after {
    height: 1.4rem;
    width: 1.4rem;
    top: .2rem;
    left: .2rem;
  }
  
  body .system-container#gbasp .a-button:active {
    background-color: #999999;
  }
  
  body .system-container#gbasp .select-label, body .system-container#gbasp .start-label {
    position: absolute;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.2rem;
    left: 14.8rem;
    bottom: 5.6rem;
    color: #0000d4;
    z-index: 2;
  }
  
  body .system-container#gbasp .start-label {
    left: 20.2rem;
  }
  
  body .system-container#gbasp .start-label + .start-label {
    left: 20.1rem;
    bottom: 5.7rem;
    color: #5555ff;
    z-index: 1;
  }
  
  body .system-container#gbasp .select-label + .select-label {
    color: #5555ff;
    left: 14.7rem;
    bottom: 5.7rem;
    z-index: 1;
  }
  
  body .system-container#gbasp .power-light {
    position: absolute;
    width: 1.4rem;
    height: 1.2rem;
    background-color: #333;
    right: -.4rem;
    top: 5.0rem;
  }
  
  body .system-container#gbasp .power-light + .power-light {
    top: 8.0rem;
  }
  
  @media (min-width: 480px) {
    html {
      font-size: 1.5vw;
    }
  }
  
  @media (min-width: 600px) {
    html {
      font-size: 1.2vw;
    }
  }
  
  @media (min-width: 720px) {
    html {
      font-size: .8vw;
    }
  }
  
  @media (min-width: 1080px) {
    html {
      font-size: .5vw;
    }
  }
  
  @media (min-width: 1600px) {
    html {
      font-size: .35vw;
    }
  }
  